<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
<header style="height:45px">
    <h1 style="float:left">POS 시스템</h1>
    <h1 th:if="${session['loginUser'].manager}==true" style="float:right" th:text="Manager"></h1>
    <h1 th:if="${session['loginUser'].manager}==false" style="float:right" th:text="Staff"></h1>
<!--    <h1 style="float:right" th:text="Manager"></h1>-->
</header>

<main>
    <section id="product-list" style="overflow-y: scroll; height: 650px;">
        <h2>제품 목록</h2>
        <table>
            <tr>
                <th>이름</th>
                <th>재고</th>
                <th>가격</th>
                <th>개수</th>
            </tr>
            <tr th:each="item : ${itemList}" th:if="${item.exist}==true">
                    <td th:text="${item.name}" th:id="'itemName'+${item.id}"></td>
                    <td th:text="${item.stock}" th:id="'itemStock'+${item.id}"></td>
                    <td th:text="${item.price}" th:id="'itemPrice'+${item.id}"></td>
                    <td><input type="number" value="0" min="0" th:id="${item.name}" class="itemNumber" required></td>
            </tr>
        </table>
        <div id="total" style="float:right;">
            <p id="test">총 가격: 0원</p>
        </div>
        <div style="float:right; margin-right:15px;">
            <button id="summary" style="margin-bottom:15px;">총합</button>
        </div>
        <div style="float:left; margin-left:15px;">
            <button id="itemAdd" style="margin-bottom:15px;" onclick="addItem()" th:disabled="${session['loginUser'].manager}==false">상품 추가</button>
        </div>
        <br><br><br><br><br>
        <div style="float:left; margin-left:15px;">
            <br><button id="itemDrop" style="margin-bottom:15px;" onclick="dropItem()" th:disabled="${session['loginUser'].manager}==false">상품 삭제</button>
        </div>
        <div style="float:right; margin-right:15px;">
            <br><button id="payment" onclick="dataSend()">계산하기</button>
        </div>
        <br><br><br><br><br>
        <div style="float:left; margin-left:15px;">
            <br><br><button id="stockManage" style="margin-bottom:15px;" onclick="stockCheck()">입고 조회</button>
        </div>
        <br><br><br><br><br><br><br>
        <div style="float:left; margin-left:15px;">
            <br><button style="margin-bottom:15px;" onclick="addStock()">상품 입고</button>
        </div>
    </section>

    <section id="turnover-day" style="overflow-y: scroll; height: 650px;">
        <h2>일간 매출</h2>
        <table>
            <tr th:each="dayRecord : ${dayRecordList}">
                <td><a th:href="@{'/record/'+${dayRecord.date}}" onclick="window.open(this.href, '_blank', 'width=350, height=550, left=660px, top=150px'); return false;"
                       th:id="${dayRecord.date}" th:text="'[ '+${dayRecord.date}+' ]  매출 : '+${dayRecord.price}+'원'"></a></td>
            </tr>
        </table>
    </section>
    
    <section id="turnover-week" style="overflow-y: scroll; height: 650px;">
        <h2>주간 매출</h2>
        <table>
            <tr th:each="weekRecord : ${weekRecordList}">
                <td><a th:href="@{'/record/'+${weekRecord.date}}" onclick="window.open(this.href, '_blank', 'width=550, height=550, left=570px, top=150px'); return false;"
                       th:id="${weekRecord.date}" th:text="'[ '+${weekRecord.date}+' ]  매출 : '+${weekRecord.price}+'원'"></a></td>
            </tr>
        </table>
    </section>

    <section id="turnover-month" style="overflow-y: scroll; height: 650px;">
        <h2>월간 매출</h2>
        <table>
            <tr th:each="monthRecord : ${monthRecord}">
                <td><a th:href="@{'/record/'+${monthRecord.key}}" onclick="window.open(this.href, '_blank', 'width=350, height=550, left=660px, top=150px'); return false;"
                       th:id="${monthRecord.key}"   th:text="'[ '+${monthRecord.key}+' ]  매출 : '+${monthRecord.value}+'원'"></a></td>
            </tr>
        </table>
    </section>
    <button onclick="window.open('/orderList', '_blank', 'width=1000, height=550, left=660px, top=150px'); return false;">판매 내역</button>
</main>
<footer>
    <h1 th:text="'잔고 : ' + ${balance}+'원'" style="padding:20px"></h1>
</footer>
<script>
var IMP = window.IMP;
IMP.init("imp46165872");
function getElement(id){
	return document.getElementById(id);
}

function addItem() {
        window.open('/addItem',"","width=600, height=200, left=550px, top=250px;");
}

function dropItem() {
        window.open('/dropItem',"","width=400, height=500, left=650px, top=150px;");
}

function stockCheck() {
        window.open('/stockCheck',"","width=350, height=550, left=660px, top=150px;");
}
function addStock() {
        window.open('/addStock',"","width=350, height=550, left=660px, top=150px;");
}

var total=0;

getElement("summary").onclick = function(){
    var productTable = getElement("product-list").querySelector("table");
    var rows = productTable.rows;

    // 총 가격 업데이트
    total = calculateTotalPrice();
    updateTotalPrice(total);
}

  function calculateTotalPrice() {
    var productTable = getElement("product-list").querySelector("table");
    var rows = productTable.rows;
    var total = 0;

    for (var i = 1; i < rows.length; i++) {
      var price = (rows[i].cells[2]).textContent;
      var number = getElement(rows[i].cells[0].textContent).value;

        if (parseInt(number)<0){
            alert('상품 개수는 음수일 수 없습니다');
            return 0;
        }
        if (parseInt(((rows[i].cells[1]).textContent) - number) < 0){
            alert('상품 개수가 재고를 초과합니다');
            return 0;
        }


      total += parseInt(price*number);
    }
    alert('총합 : '+total+'원');
    return total;
  }

    // 총 가격을 업데이트하는 함수
  function updateTotalPrice(total) {
    var totalDiv = getElement("total");
    totalDiv.innerHTML = "<p >총 가격: " + total + "원</p>";
  }

// 여기서 saleData 담아서 controller에서 payDto만 생성해서 response
// done -> requestPay(payDto)를 불러
// done -> saleData랑 payDto를 담아서 order를 만드는 controller에 요청해 / 끝. done으로 만들면 datasend랑 requestPay 하나로 합칠 수 있을듯
function dataSend() {

    var productTable = getElement("product-list").querySelector("table");
    var rows = productTable.rows;

    var itemData = [];

    for (var i = 1; i < rows.length; i++) {
      var number = getElement(rows[i].cells[0].textContent).value;
      if(number>0) {
      var name = (rows[i].cells[0]).textContent;

      var data = {
          itemName : name,
          saleNumber : number
      };


      itemData.push(data);
      }
    }

   $.ajax({
     method: 'post',
     url: '/payment',
     traditional: true,
     data: JSON.stringify({
       summary : total,
       itemDataList : itemData
     }),
     dataType: 'json',
     contentType: "application/json; charset=utf-8",
     success : function(res) {
         requestPay(res.payDto);
     }
   });
}

// 그냥 새로운 ajax랑 controller의 response로 payDto만 가지고 와서 얘 호출
function requestPay(payDto) {

    var orderUid = payDto.order_uid;
    var itemName = payDto.item_name;
    var paymentPrice = payDto.payment_price;
    var buyerName = payDto.buyer_name;
    var buyerEmail = payDto.buyer_email;
    var buyerAddress = payDto.buyer_address;

    IMP.request_pay({
            pg : 'html5_inicis.INIpayTest',
            pay_method : 'card',
            merchant_uid: orderUid, // 주문 번호
            name : itemName, // 상품 이름
            amount : paymentPrice, // 상품 가격
            buyer_email : buyerEmail, // 구매자 이메일
            buyer_name : buyerName, // 구매자 이름
            buyer_tel : '010-1234-5678', // 임의의 값
            buyer_addr : buyerAddress, // 구매자 주소
            buyer_postcode : '123-456', // 임의의 값
        },
        function(rsp) {
            if (rsp.success) {
                alert('call back!!: ' + JSON.stringify(rsp));
                // 결제 성공 시: 결제 승인 또는 가상계좌 발급에 성공한 경우
                // jQuery로 HTTP 요청
                jQuery.ajax({
                    url: "/paymentProcess",
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    data: JSON.stringify({
                        "payment_uid": rsp.imp_uid,      // 결제 고유번호
                        "order_uid": rsp.merchant_uid   // 주문번호
                    })
                }).done(function (response) {
                    dataSend(); // 그 다음 호출된 얘는 payDto 정보를 파라미터로 받아서 같은 정보로 order 생성?
                    console.log(response);
                    // 가맹점 서버 결제 API 성공시 로직
                    //alert('Please, Check your payment result page!!' + rsp);
                    alert('결제 완료!' + rsp);
                    location.reload();
                })
            } else { // 실패시 order는 안 만들어지니까 ㄴ상관
                // alert("success? "+ rsp.success+ ", 결제에 실패하였습니다. 에러 내용: " + JSON.stringify(rsp));
                // 여기에서 새로운 function을 하나 넣어서 실패 시 order는 ready로 남지만
                alert('결제 실패!' + rsp);
                location.reload();
            }
        });
}
</script>
</body>
</html>

