<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />
<body>
<header>
    <h1>판매 내역</h1>
</header>
<section>
    <table>
        <tr>
            <th>구매자</th>
            <th>구매일자</th>
            <th>구매 상품</th>
            <th>총 금액</th>
            <th>결제 상태</th>
            <th></th>
        </tr>
        <tr th:each="orderData : ${orderList}">
            <form th:action="|/refund/${orderData.id}|" method="POST">
                <td th:text="${orderData.userName}" id="userName"></td>
                <td th:text="${orderData.saleDate.get('day')}" id="saleDate"></td>
                <td th:text="${orderData.title}" id="itemName"></td>
                <td th:text="${orderData.price}+'원'" id="price"></td>
                <td th:text="${orderData.payment.getStatus()}"></td>
                <td><button th:if="${orderData.payment.status.name()=='OK'}" type="submit">환불</button></td>
            </form>
        </tr>
    </table>
</section>
<footer>
</footer>
</body>
</html>